@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.mainContainer {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 20px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .userFullNameInput,
  .userEmailInput,
  .userPasswordInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
  }
  
  .submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #45a049;
  }
  
  .link {
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  